.nb-card {
  align-self: flex-start;
  background: var(--card-background-color);
  border-radius: 5px;
  box-shadow: var(--card-box-shadow-outer);
  height: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out, background 0s;

  &::after {
    box-shadow: var(--card-box-shadow-inner);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__link {
    color: var(--global-text-inversed-color);
    text-decoration: none;
    transition: none;
  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    visibility: hidden;
    width: 100%;

    &--hovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 200px;
      position: absolute;
      top: 0;
      transition: all 350ms ease-in-out;
      width: 100%;
    }
  }

  &__info {
    color: var(--global-text-inversed-color);
    padding: 0.75rem 1.25rem;
    transition: all 200ms ease-in-out;
  }

  &__about {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem 0;
    transition: all 200ms ease-in-out, color 0s;
  }

  &__tag {
    background: #505f79;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    max-width: 100px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 60px;

    &--news {
      background: #36b37e;
    }

    &--deals {
      background: #ffab00;
    }

    &--politics {
      width: 71px;
      background: #ff5630;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 1rem;
    transition: all 350ms ease-in-out, color 0s;
    z-index: 10;
  }

  &__subtitle {
    min-height: 80px;
    padding-bottom: 0.75rem;
    transition: all 350ms ease-in-out, color 0s;
    z-index: 10;
  }

  &__creator {
    background-color: var(--card-background-color);
    bottom: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 0 0 15px 20px;
    transition: opacity 250ms ease-in-out;
    width: 100%;

    &::after {
      background: var(--card-oveflow-gradient);
      bottom: 100%;
      content: "";
      left: 20px;
      height: 60px;
      position: absolute;
      width: calc(100% - 40px);
    }

    img {
      border-radius: 50%;
      height: 24px;
      margin-left: 5px;
      object-fit: cover;
      position: relative;
      top: 5px;
      width: 24px;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--card-box-shadow-hover);
    transform: scale(1.025);

    .nb-card {
      &__img {
        &--hovered {
          --card-img-hovered-overlay: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.2)
          );
          border-radius: 5px;
          height: 100%;
        }
      }

      &__about,
      &__creator {
        opacity: 0;
      }

      &__info {
        background-color: transparent;
        color: #ededef;
        transition: all 350ms ease-in-out;
      }

      &__title,
      &__subtitle {
        transform: translate(0, -240px);
      }
    }
  }
}

.theme-animation {
  .nb-card {
    &,
    &__info {
      transition: none;
    }
  }
}
