.nb-footer {
  background-color: var(--color-delta);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
  flex-shrink: 0;
  margin-top: 35px;
  padding: 10px 25px;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;

    li {
      margin: 0 2px 0 2px;

      &:hover,
      &:focus {
        svg {
          fill: #555;
        }
      }

      svg {
        fill: var(--color-eta);
        transition: 0.3s;
      }
    }
  }
}
