.nb-footer {
  background-color: var(--global-background-secondary-color);
  box-shadow: var(--footer-box-shadow);
  flex-shrink: 0;
  margin-top: 35px;
  padding: 10px 25px;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;

    li {
      margin: 0 2px 0 2px;

      &:hover,
      &:focus {
        svg {
          fill: var(--svg-hover-color);
          transition: 0.3s;
        }
      }

      svg {
        fill: var(--global-text-inversed-color);
      }
    }
  }

  &__copyright {
    color: var(--global-text-inversed-color);
  }
}
