.nb-header {
  background-color: var(--color-delta);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
  padding: 10px 25px;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__logo-wrapper {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    padding: 0;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
