.nb-portable-image {
  &__wrapper {
    text-align: center;

    img {
      border-radius: 8px;
      cursor: zoom-in;
      filter: var(--image-filter);
      position: relative;
      transition: 0.3s, filter 0s;
    }
  }

  &__overlay {
    background: rgba(#fff, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: 0.3s 0.1s;
    visibility: hidden;
    width: 100%;
    z-index: 3;
  }

  &--preview {
    .nb-portable-image {
      &__wrapper {
        img {
          cursor: zoom-out;
        }
      }

      &__overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
