.nb-home-page {
  padding-top: 105px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    &-item {
      flex: 1 1 calc(25% - 20px);
      min-width: 275px;
    }
  }
}
