@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&display=swap");

@import "src/styles/components";
@import "src/styles/pages";

:root {
  --color-alpha: #eee;
  --color-beta: #ffb535;
  --color-gamma: #363738;
  --color-delta: #fff;
  --color-epsilon: rgba(#333, 0.9);
  --color-zeta: #ccc;
  --color-eta: #000;
  --card-img-height: 200px;

  --box-shadow-primary: 1px 1px 3px 0 rgb(0 0 0 / 20%);
  --box-shadow-secondary: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
