.nb-btn {
  background: var(--color-delta);
  border-radius: 0;
  border: none;
  box-shadow: var(--box-shadow-secondary);
  color: var(--color-gamma);
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  outline: none;
  overflow: hidden;
  padding: 0;
  transition: .3s;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: var(--color-beta);
    color: var(--color-delta);
  }

  &.nb-btn--with-icon {
    padding-right: 20px;

    i {
      background: var(--color-beta);
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      color: white;
      height: 50px;
      line-height: 50px;
      margin-right: 10px;
      padding: 0px 30px 0px 15px;
      vertical-align: bottom;
    }
  }

  &.btn--only-icon {
    width: 50px;
  }
}
