.nb-card {
  box-shadow: var(--box-shadow-primary);
  padding: 30px;
  position: relative;

  &:hover {
    .nb-card {
      &__background {
        &--main {
          transform: scale(1.2) rotate(5deg);
        }

        &--layer {
          opacity: 1;
        }
      }

      &__info h5 {
        color: var(--color-beta);
      }

      &__date-wrapper {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__background {
    background: var(--color-delta);
    padding: 15px;

    &--wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    &--main {
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: relative;
      transition: 300ms ease-in-out;
    }

    &--layer {
      background: var(--color-epsilon);
      opacity: 0;
      transition: 300ms ease-in-out;
      z-index: 0;
    }

    &,
    &--layer {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__head {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
  }

  &__info {
    background: white;
    box-shadow: var(--box-shadow-primary);
    padding: 20px 15px;
    z-index: 10;

    h5 {
      transition: 300ms ease-in-out;
    }
  }

  &__date {
    &-wrapper {
      align-items: center;
      border: 4px solid;
      color: var(--color-zeta);
      display: flex;
      flex-direction: column;
      font-weight: bold;
      justify-content: center;
      opacity: 0;
      padding: 5px 10px;
      position: absolute;
      transform: scale(0.5);
      transition: 300ms ease-in-out;
    }

    &-day {
      font-size: 22px;
    }
  }
}

.nb-card-item {
  align-self: flex-start;
  position: relative;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;

  &__link {
    color: var(--color-gamma);
    text-decoration: none;
  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--card-img-height);
    visibility: hidden;
    width: 100%;

    &--hovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: var(--card-img-height);
      position: absolute;
      top: 0;
      transition: all 350ms ease-in-out;
      width: 100%;
    }
  }

  &__info {
    padding: 0.75rem 1.25rem;
    position: relative;
    transition: all 200ms ease-in-out;
  }

  &__about {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    transition: all 200ms ease-in-out;
  }

  &__tag {
    background: #505f79;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    max-width: 100px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 60px;

    &--news {
      background: #36b37e;
    }

    &--deals {
      background: #ffab00;
    }

    &--politics {
      width: 71px;
      background: #ff5630;
    }
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    transition: all 350ms ease-in-out;
    z-index: 10;
  }

  &__creator {
    padding-bottom: 0.75rem;
    transition: all 250ms ease-in-out;

    img {
      border-radius: 50%;
      height: 24px;
      margin-left: 5px;
      object-fit: cover;
      position: relative;
      top: -2px;
      width: 24px;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    transform: scale(1.025);

    .nb-card-item {
      &__img {
        &--hovered {
          --card-img-hovered-overlay: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.65)
          );
          height: 100%;
        }
      }

      &__about,
      &__creator {
        opacity: 0;
      }

      &__info {
        background-color: transparent;
      }

      &__title {
        color: var(--color-alpha);
        transform: translate(0,40px);
      }
    }
  }
}
